
/* -------------------------------------------------------------------------- */
/*                                 ENCABEZADO                                 */
/* -------------------------------------------------------------------------- */

h1 {
    color: #ff0000;
    font-size: 50px;
}


/* -------------------------------------------------------------------------- */
/*                                  CONTENIDO                                 */
/* -------------------------------------------------------------------------- */

p {
    font-weight: bold;
}

ul {
    background: #adff2f;
}

#subtitle { /* Apuntado de un identificador */
    color: #20b2aa;
}

.orderedList { /* Apuntado de una clase */
    background: #f4a460;
}