/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

* {
	margin: 0px;
	padding: 0px;
}

/* -------------------------------------------------------------------------- */
/*                             CONTENIDO PRINCIPAL                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Párrafos -------------------------------- */

.paragraphs {
	margin: 15px;
}

/* --------------------------------- Imagen --------------------------------- */

.image {
	margin: 15px;
}

.image img {
	width: 250px;
	height: 250px;
}

/* ---------------------------------- Hijos --------------------------------- */

.childs {
	text-align: center;
}

.childs p:first-child {
	color: rebeccapurple;
	font-weight: bold;
}

.childs p:last-child {
	color: deepskyblue;
	font-weight: bold;
}

/* ---------------------------------- Tabla --------------------------------- */

.table {
	margin: 15px;
	width: 250px;
	height: 250px;
	border: 1px solid black;
	text-align: center;
}

.table tr:first-child {
	color: white;
	background-color: black;
}

.table tr:nth-child(2n + 3) {
	background-color: #0080009a;
}

.table tr:nth-child(2n + 3):hover {
	opacity: 75%;
}

/* ------------------------------ Hipervínculo ------------------------------ */

.links ul li a {
	margin: 15px;
	text-decoration: none;
}

.links ul li a:hover {
	color: #ff0000;
}

.links ul li a:active {
	color: #008000;
}
